@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --fm-color-white-total: #fff;

  --fm-color-red-primary: #9b0101e5;

  --fm-color-gray-primary: #ececec;
  --fm-color-gray-secondary: #5c5c5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

#root {
  display: flex;
}

input {
  outline: none;
  border: none;
}

main {
  background-color: var(--fm-color-gray-primary);
  width: 100%;
}

.header-home-page {
  padding: 25px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-home-page h2 {
  font-size: 30px;
  color: yellow;
  text-shadow: 2px 2px 0 #d82323, -1px -1px 0 #d82323, 1px -1px 0 #d82323,
    -1px 1px 0 #d82323, 1px 1px 0 #d82323;
  text-transform: uppercase;
}

.home-page-user-details {
  display: flex;
  gap: 10px;
}

.home-page-user-details-item {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
}

.home-page-user-details a img {
  border-radius: 10px;
}

.home-page-content {
  padding: 0 20px;
}

.card-product-highlighted {
  max-width: 750px;
  max-height: 300px;
  background-color: var(--fm-color-white-total);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
}

.card-product-highlighted-img img {
  height: 260px;
  border-radius: 20px;
}

.card-product-highlighted-description h4 {
  font-size: 20px;
}

.card-product-highlighted-stars {
  display: flex;
  gap: 5px;
}

.card-product-highlighted-review {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-product-highlighted-review p {
  font-size: 16px;
  color: var(--fm-color-gray-secondary);
}

.card-product-highlighted-description-content {
  margin-top: 5px;
  color: var(--fm-color-gray-secondary);
}

.card-product-highlighted-price-and-quantity {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-product-highlighted-price-and-quantity h3 {
  font-size: 28px;
  color: var(--fm-color-red-primary);
}

.card-product-highlighted-quantity {
  max-height: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 20px;
}

.quantity-decrement,
.quantity-increase {
  background-color: var(--fm-color-white-total);
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 25px;
  cursor: pointer;
  font-size: 18px;
}

.card-product-highlighted-quantity p {
  font-size: 18px;
}

.card-product-highlighted-btns {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card-product-highlighted-btns button {
  max-width: 130px;
}

.home-page-top {
  display: flex;
  gap: 20px;
}

.card-invite-kits {
  padding: 5px 0 5px 10px;
  border-radius: 20px;
  width: 366px;
  background: linear-gradient(
    109.82deg,
    #af0707 0.54%,
    rgba(104, 7, 7, 0.9) 100%
  );
  color: var(--fm-color-white-total);
  display: flex;
  max-height: 222px;
  overflow: hidden;
}

.card-invite-kits-left h3 {
  margin-top: 10px;
  max-width: 220px;
  position: absolute;
  font-size: 24px;
}

.card-invite-kits-left-buy {
  position: absolute;
  margin-top: 160px;
  display: flex;
  gap: 10px;
}
.card-invite-kits-right {
  margin-left: auto;
  margin-top: px;
}

.card-invite-kits-right img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.home-page-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 78.5vw;
}
